.crossed {
    text-decoration: line-through 2px green;
}
ul, li {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    color: #f0f0f0;
}
body {
    background-color: #232322;
}
h1 {
    color: rgb(228, 241, 45);
    margin-bottom: 50px;
}
.container {
    display: flex;
    justify-content: center;
}
.btn_add {
    margin-left: 40px;

}
.btn_delete {
    margin-bottom: 10px;
}
.btn {
    padding: 10px;
    border: none;
    background: none;
    color: rgb(228, 241, 45);
    border: rgb(228, 241, 45) 2px solid;
    border-radius: 20px;
    font-size: 17px;
    width: 100px;
    height: 46px;
    text-align: center;
}
input {
    border-radius: 20px;
    font-size: 17px;
    text-align: center;
    height: 40px;
    flex: 0.3;
}